{% extends 'base.html' %}

{% block content %}
<h2>Consulta Fornecedores</h2><br><br>

  <table class="table">
    <thead>
      <tr>
        <th class="consulta_dataCadastro">Cadastro</th>
        <th class="consulta_hora">Hora</th>
        <th class="consulta_razaosocial">Razão Social</th>
        <th class="consulta_cnpj">CNPJ</th>
        <!--<th>Nome Fantasia</th>
        <th>Segmento</th>!-->
        <th class="consulta">Contato</th>
        <!--<th class="consulta_telefone">Telefone</th>!-->
        <th class="consulta_celular">Celular</th>
        <!--<th>CEP</th>!-->
        <th class="consulta_endereco">Endereço</th>
        <!--<th>Cidade</th>!-->
        <!--<th>Estado</th>
        <th>UF</th>!-->
        <th class="consulta">E-mail</th>
        <!--<th>Site</th>!-->
        <th class="consulta_acoes">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for fornecedor in fornecedores %}
        <tr>
          <td>{{ fornecedor.data_cadastro}}</td>
          <td>{{ fornecedor.hora_cadastro}}</td>
          <td>{{ fornecedor.razao_social }}</td>
          <td>{{ fornecedor.cnpj }}</td>
          <!--<td>{{ fornecedor.nome_fantasia }}</td>
          <td>{{ fornecedor.segmento }}</td>!-->
          <td>{{ fornecedor.contato }}</td>
          <!--<td>{{ fornecedor.telefone }}</td>!-->
          <td>{{ fornecedor.celular }}</td>
          <!--<td>{{ fornecedor.cep }}</td>!-->
          <td>{{ fornecedor.endereco }}</td>
          <!--<td>{{ fornecedor.cidade }}</td>!-->
          <!--<td>{{ fornecedor.estado }}</td>
          <td>{{ fornecedor.uf }}</td>!-->
          <td>{{ fornecedor.email }}</td>
          <!--<td>{{ fornecedor.site }}</td>!-->
          <td>
        <a href="{% url 'fornecedor_edit' fornecedor.pk %}" class="btn btn-warning">Editar</a>
        <form class="consulta" action="{% url 'fornecedor_delete' fornecedor.pk %}" method="POST" >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este fornecedor?')">Excluir</button>
          </form>
      </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="{% url 'cadastrar_fornecedor' %}" class="btn btn-primary">Cadastrar Fornecedor</a>

 
{% endblock %}
