<!DOCTYPE html>
<html>
  <head>
    <title>Lista de clientes</title>
  </head>
  <body>
    <h1>Lista de clientes</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.sobrenome }}</td>
            <td>{{ cliente.email }}</td>
            <td>
              <a href="{% url 'editar_cliente' cliente.pk %}">Editar</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">Não há clientes cadastrados.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>