{% extends 'base.html' %}
{% block content %}
<h2>Consulta Veículos</h2><br><br>

<table class="table">
  <thead>
    <tr>
      <th class="consulta_dataCadastro">Cadastro</th>
      <th class="consulta_hora">Hora</th>
      <th class="consulta">Cliente</th>
      <th class="consulta_montadora">Montadora</th>
      <th class="consulta_modelo">Modelo</th>
      <th class="consulta_ano">Ano</th>
      <th class="consulta_placa">Placa</th>
      <th class="consulta_acoes">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for veiculo in veiculos %}
    <tr>
      <td>{{ veiculo.data_cadastro}}</td>
      <td>{{ veiculo.hora_cadastro}}</td>
      <td>{{ veiculo.cliente.nome }}</td>
      <td>{{ veiculo.marca }}</td>
      <td>{{ veiculo.modelo }}</td>
      <td>{{ veiculo.ano }}</td>
      <td>{{ veiculo.placa }}</td>
      <td>
        <a href="{% url 'cadastro_servico' veiculo.id %}" class="btn btn-primary">Cadastrar Serviço</a>
        <a href="{% url 'edita_veiculo' veiculo.pk %}" class="btn btn-warning">Editar</a>
        <form class="consulta" action="{% url 'exclui_veiculo' veiculo.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este veiculo?')">Excluir</button>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'cadastro_veiculo' %}" class="btn btn-primary">Cadastrar Veículo</a>

{% endblock %}