@media screen and
    (max-width: 1920px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body{
        width: 100%;
        height: 100%;
    }
    body{
        background-repeat: no-repeat;
        background-image: url(../../_images/BrennoCar/Car_Headlights_resize.jpg);
        background-position: 50% 60px;
        background-size: contain;
        background-color: #090907;
        opacity: 90%;
    }
    .form-control{
        height: 28px;
    }
    .logo-injecao-eletronica img{
        position: absolute;
        margin-top: -60px;
        margin-left: 100px;
        width: 65px;
    }
    .dropdown{
        margin-left: 30px;
    }
    ul.dropdown-menu{
        margin-left: 30px;
    }
    a.dropdown-item:hover{
        color: red;
    }
    span{
        font-size: 14px;
        width: 200px;
        color: #FFFFFF;
        margin-top: -100px;
    }
    span.hora{
        float: right;
    }
    small{
        color: #98FB98;
    }
    li {
        text-align: center;
    }
    li a:hover {
        font-weight: 600;
        color: red;
        text-decoration: none;
        list-style: none;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.3);
    }
    #id_username{
        display: inline-flex;
        margin-left: -10px;
    }
    p{
        margin-bottom: 0;
    }
    label{
        font-size: 14px;
        font-family: Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
        color: yellow;
        margin-right: 12px;
    }
    .login{
        font-weight: 500;
        letter-spacing: 4px;
        background-color: #FF6347;
        color: #FFFFFF;
        font-family: Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px 5px;
        border-radius: 5px;
        width: 160px;
        margin-top: 10px;
    }
    .login:hover{
        background-color: red;
    }

    .submit{
        font-weight: 500;
        letter-spacing: 2px;
        background-color: red;
        color: #FFFFFF;
        font-family: Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px 5px;
        border-radius: 5px;
        width: 170px;
    }
    #cadastroDropdown,
    #consultaDropdown{
        font-family: Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
        color: #FFFFFF;
        margin-left: 30px;
        width: 190px;
    }
    #cadastroDropdown:hover,
    #consultaDropdown:hover{
        color: red;
    }
    #id_cpf{
        margin-right: 50px;
        width: 140px;
        text-align: right;
    }
    #id_nome,
    #id_estado{
        margin-right: 50px;
    }
    #id_cidade {
        margin-right: 50px;
        width: 200px;
    }
    #id_nascimento{
        margin-right: 50px;
        width: 140px;
    }
    #id_sobrenome, #id_profissao,
    #id_endereco, #id_bairro,
    #id_email, #id_site,
    #id_contato, #id_razaosocial,
    #id_nomefantasia{
        margin-right: 70px;
        width: 310px;
    }
    #id_Telefone, #id_Celular,
    #id_Cep{
        margin-right: 50px;
        width: 140px;
    }
    #id_uf {
        margin-right: 50px;
        width: 120px;
    }

    #id_montadora, #id_modelo,
    #id_ano, #id_placa{
        margin-right: 50px;
        width: 140px;
    }

    #id_mensagem {
        margin-right: 50px;
        width: 350px;
        height: 80px;
    }
    b{
        font-size: 14px;
        color: #FFFFFF;
    }
    .navbar-brand{
        color: #FF6347;
        margin-top: -80px;
        position: absolute;
        margin-left: 180px;
        font-family: Bruno Ace, Montserrat, Roboto, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        text-align: center;
        width:142px;
    }
    .navbar-nav{
        width: 200px;
        justify-item: center;
        margin-left: 380px;
    }
    .navbar-expand-lg{
        border-radius: 0 0 30px 30px;
        height: 92px;
    }
    .navbar-expand-lg .navbar-collapse{
        margin-top: 0;
        margin-left: 0px;
        justify-content: center;
    }
    h2{
        font-size: 24px;
        margin-top: -40px;
        margin-left: 280px;
        position: absolute;
        font-family: Bruno Ace, Montserrat, Roboto, Verdana, Geneva, Tahoma, sans-serif;
        color: #FF6347;
    }
    p.menslogin{
        text-align: center;
        font-family: Bruno Ace, Montserrat, Roboto, Verdana, Geneva, Tahoma, sans-serif;
        color: yellow;
        font-size: 16px;
    }
    ul li{
        list-style: none;
        font-family: Bruno Ace, Montserrat, Roboto, Verdana, Geneva, Tahoma, sans-serif;
        color: yellow;
    }
    .container-fluid{
        justify-item: center;
        margin-top: 50px;
    }
    a.logout{
        text-decoration: none;
        color: #FF6347;
    }
    .logout:hover{
        color: yellow;
    }
    .table thead th{
        width: 180px;
        border-bottom: 0;
        border-top: 0;
    }
    tbody{
        font-size: 14px;
        color: #FFFFFF;
    }
    th{
        color: #FFFFFF;
    }
    .btn.btn-primary{
        margin-top: -8px;
        padding: 5px 10px;
        position: absolute;
        margin-left: 146px;
    }
    .btn.btn-warning{
        margin-top: -8px;
        padding: 5px 10px;
        position: absolute;
    }
    .btn.btn-danger{
        margin-top: -8px;
        padding: 5px 10px;
        position: relative;
        margin-left: 71px;
    }
    .Save{
        font-weight: 500;
        letter-spacing: 2px;
        background-color: green;
        color: #FFFFFF;
        font-family: Montserrat, Robot, Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px 5px;
        border-radius: 5px;
        width: 170px;
    }
    .Save:hover{
        background-color: red;
        color: #FFFFFF;
    }
    form{
        margin-left: 20%;
        width: 60%;
        height: 10px;
    }
    form input{
        margin-top: .6em;
        border-radius: 5px;
        padding: 5px;
    }
    #id_cliente_fornecedor{
        margin-top: 0;
        width: 350px;
    }
    #id_ano{
        width: 60px;
        text-align: right;
        margin-left: 10px;
    }
    #id_placa{
        text-align: right;
        width: 80px;
        margin-left: 10px;
    }
    #id_modelo, #id_montadora{
        width: 200px;
    }
    #id_nome, #id_razao_social,
    #id_nome_fantasia, #id_contato,
    #id_profissao, #id_sobrenome,
    #id_email,#id_site_fornecedor{
        width: 280px;
    }
    #id_cnpj{
        width: 160px;
        text-align: right;
    }
    #id_atividade, #id_segmento{
        width: 110px;
        text-align: right;
    }
    #id_endereco {
        width: 420px;
    }
    #id_observacao{
        height: 50px;
        width: 350px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 5px;
    }
    #i_cpf{
        text-align: right;
        width: 115px;
    }
    #id_data_nascimento{
        background-color: dark;
        width: 120px;
    }
    #id_uf{
        width: 40px;
    }
    #id_cidade, #id_estado{
        width: 140px;
    }
    #id_cep{
        width: 90px;
    }
    #id_telefone{
        width: 125px;
    }
    #id_celular{
        width: 135px;
    }
    #id_pesquisa_cf{
        width: 300px;
    }
    .btn-primary:hover{
        font-weight: 600;
        background-color: green;
        color: #FFFFFF;
    }
}
