@media screen and
    (max-width: 992px) {
    #navbarNav{
        display: none;
    }

   .navbar-brand{
        margin-left: 100px;
        margin-top: -50px;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    li a {
        font-weight: 400;
        font-size: 13px;
        padding: 8px 10px;
    }
    #id_username{
        margin-bottom: 5px;
    }
    .logo-injecao-eletronica img{
        position: absolute;
        margin-top: -60px;
        margin-left: 20px;
        width: 65px;
    }
    .razaosocial_nome{
        margin-left: 80px;
        font-size: 16px;
    }
    .clientes, .fornecedores,
    .veiculos{
        width: 250px;
        margin-left: 14vh;
        font-size: 16px;
    }
    form{
        width: 85%;
        padding: 1em 1.5em;
    }
    form input{
        margin-top: 0.1em;
    }

    .juridica{
        font-size: 14px;
        margin-left: 400px;
        margin-top: -8px;
    }
}