@media screen and
    (max-width: 992px) {
    tbody{
        width: 100%;
        font-size: 13px;
        color: #FFFFFF;
    }
    a.logout{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
    .navbar.container-fluid{
        display: inline;
    }
    .container-fluid{
        margin-top: 50px;
    }
    .logo-injecao-eletronica img{
        display: none;
    }    
}