@media screen and
    (max-width: 992px) {
    /*#navbarNav{
        display: none;
    }*/

    tbody{
        width: 100%;
        font-size: 13px;
        color: #FFFFFF;
    }

   .navbar-brand{
        margin-left: 170px;
        margin-top: -40px;
    }

    .navbar.container-fluid{
        display: block;
    }

    .container-fluid{
        margin-top: 50px;
    }

    span{
        margin-left: -100px;
        width: 260px;
        color: #FFFFFF;
        margin-top: -66px;
    }
    span.hora{
        width: 120px;
    }
    small{
        font-size: 14px;
        color: #f3e97a;
    }

    li a {
        font-weight: 400;
        font-size: 13px;
        padding: 8px 10px;
    }
    #id_username{
        margin-bottom: 5px;
    }
    .logo-injecao-eletronica img{
        position: absolute;
        margin-top: -60px;
        /*margin-left: 20px;*/
        float: right;
        width: 65px;
    }
    .razaosocial_nome{
        margin-left: 80px;
        font-size: 16px;
    }
    .clientes, .fornecedores,
    .veiculos{
        width: 250px;
        margin-left: 14vh;
        font-size: 16px;
    }
}