

<!DOCTYPE html>
<!-- CSS do Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

<!-- JS do Bootstrap (o jQuery precisa ser incluído antes do JS do Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Minha Empresa{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>
          <a href="#">Cliente</a>
          <ul>
            <li><a href="{% url 'lista_clientes' %}">Listar Clientes</a></li>
            <li><a href="{% url 'criar_cliente' %}">Criar Cliente</a></li>
          </ul>
        </li>
        <li><a href="#">Veículos</a></li>
        <li><a href="#">Serviços</a></li>
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
