@media screen and (min-width: 160px) and
(max-width: 384px) {
    nav ul li a,
    .nomempresa,.logado,
    .logo-injecao-eletronica{
        display: none;
    }
    .razaosocial_nome{
        display: none;
    }
    .clientes, .fornecedores,
    .veiculos{
        display: none;
    }
    .juridica {
        display: none;
    }
    .cadastro {
        display: none;
    }
    #observacao{
        width: 160px;
    }
}